<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LIU.Website.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <!-- Markdown Editor -->
    <link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/alert.css" rel="stylesheet" />
    <link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" rel="stylesheet" />
    <!-- ImageSelect -->
    <link href="_content/PSC.Blazor.Components.ImageSelect/css/dd.css" rel="stylesheet" />
    <link href="_content/PSC.Blazor.Components.ImageSelect/css/flags.css" rel="stylesheet" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="/lib/jquery/jquery.js"></script>
    <!-- Markdown editor -->
    <script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/mermaid.min.js"></script>
    <script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js"></script>
    <script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js"></script>
    <!-- ImageSelect -->
    <script src="/_content/PSC.Blazor.Components.ImageSelect/js/dd.min.js"></script>
    <script src="/_content/PSC.Blazor.Components.ImageSelect/js/imageselect.js" type="module"></script>
</body>

</html>
